{% extends './base.html' %}

{% block content %}
  <h1>Home</h1>

  {% if posts %}
    {% for post in posts %}
    <div class="card p-3 text-white bg-dark m-5">
      <div class="card-header">Programming Language: {{post.programming_language}}</div>
      <div class="card-body">
        <h5 class="card-title">Title: {{post.title}}</h5>
        <p class="card-text" style="white-space: pre-wrap">Code: {{post.code}}</p>
        <p class="card-text">Programmer: {{post.programmer}}</p>
        <p class="card-text">Date Posted: {{post.date_posted}}</p>
        <p class="card-text">Comments: {{post.comments.count}}</p>
        <a href="{% url 'post' post.id %}" class="btn btn-primary">Go to post</a>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="container mt-5">
        <h3>No posts</h3>
        {% if user.is_authenticated %}
        <p class="lead">Add some <a href="{% url 'create_post' %}">Here</a></p>
        {% else %}
        <p class="lead">Add some <a href="{% url 'create_post' %}">Here </a>(you'll need to login)</p>
        {% endif %}
    </div>
  {% endif %}
{% endblock content %}
