{% extends './base.html' %}

{% block content %}
  <h1>{{post.title}}</h1>

  <div class="card p-3 text-white bg-dark">
    <div class="card-header">Programming Language: {{post.programming_language}}</div>
    <div class="card-body">
      <h5 class="card-title">Title: {{post.title}}</h5>
      <p class="card-text" style="white-space: pre">Code: {{post.code}}</p>
      <p class="card-text">Programmer: {{post.programmer}}</p>
    </div>
    {% if request.user == post.programmer %}
      <span><a href="{% url 'update_post' post.id %}" class="btn btn-success">Update</a> <a href="{% url 'delete_post' post.id %}" class="btn btn-danger ms-3">Delete</a></span>
    {% endif %}
  </div>


{% endblock content %}
