{% extends './base.html' %}


{% block css %}
  <style media="screen">
    .second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    /* box-shadow: 10px 10px 5px #aaaaaa */
    }

    .text1 {
     font-size: 13px;
     font-weight: 500;
     color: #56575b
    }

    .text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b
    }
  </style>
{% endblock  %}

{% block content %}
  <h1>{{post.title}}</h1>

  <div class="card p-3 text-white bg-dark">
    <div class="card-header">Programming Language: {{post.programming_language}}</div>
    <div class="card-body">
      <h5 class="card-title">Title: {{post.title}}</h5>
      <p class="card-text" style="white-space: pre">Code: {{post.code}}</p>
      <p class="card-text">Programmer: {{post.programmer}}</p>
      <p class="card-text">Comments: {{post.comments.count}}</p>
    </div>
    {% if request.user == post.programmer %}
      <span><a href="{% url 'update_post' post.id %}" class="btn btn-success">Update</a> <a href="{% url 'delete_post' post.id %}" class="btn btn-danger ms-3">Delete</a></span>
    {% endif %}
  </div>

  <h3 class="mt-3 mb-3">Add Comments</h3>

  <form class="card p-3 bg-primary border-primary rounded" method="post">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label class="form-label h3">{{form.comment.label}}</label>
        {{form.comment}}
        <button type="submit" class="btn btn-dark mt-3">Comment</button>
    </div>
  </form>



  {% if post.comments.count > 0 %}
    <h3 class="mb-3 mt-3">Comments</h3>
    {% for comment in post.comments.all %}
    <div class="d-flex justify-content-center py-2">
          <div class="second py-2 px-2"> <span class="text1">User: {{comment.user_id.username}}</span>
              <div class="d-flex justify-content-between py-1 pt-2">
                  <div><span class="text2 text-dark">Comment: {{comment.comment}}</span></div>
              </div>
          </div>
      </div>
    {% endfor %}
  {% else %}
    <h3 class="mb-3 mt-3">No Comments</h3>
  {% endif %}

{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    document.querySelector('textarea').classList.add('form-control')
  </script>
{% endblock scripts %}
